<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMExNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMExNotifier.Properties.Settings>
            <setting name="MMExDatabasePath" serializeAs="String">
                <value>C:\Users\Roberto\Dropbox\MoneyManagerEx\CasaGuidaNew.mmb</value>
            </setting>
            <setting name="DaysAhead" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
        </MMExNotifier.Properties.Settings>
    </userSettings>
</configuration>